* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
}
header {
  background-image: url('./images/bg-header-desktop.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.company-logo {
  padding-top: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-detail {
  text-align: center;
  width: 600px;
  margin: 3rem auto 2rem;
}
.heading {
  margin-bottom: 1rem;
}
h1 {
  font-size: 35px;
}
h3 {
  font-size: 23px;
}
h1,
h2,
h3 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}
p {
  font-size: 18px;
  color: hsl(201, 11%, 66%);
}
.btn-head {
  display: flex;
  justify-content: center;
}
.btn-head > button {
  margin: 0 0.5rem;
  color: #fff;
  border: none;
  padding: 0.8rem 1.8rem;
  border-radius: 25px;
  cursor: pointer;
}
.ios-btn {
  background: hsl(171, 66%, 44%);
  box-shadow: hsl(171, 100%, 79%) 0px 10px 15px -10px;
}
.mac-btn {
  background: hsl(233, 100%, 69%);
  box-shadow: rgba(182, 182, 182, 0.15) 0px 20px 15px -10px;
}
h2 {
  font-size: 26px;
}
.detail {
  text-align: center;
  width: 600px;
  margin: 5rem auto 2rem;
}
.detail > h2 {
  margin-bottom: 1rem;
}
.content-1 {
  display: flex;
}
.content-1 > section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 5rem;
  width: 400px;
}
.content-1 > section > p {
  margin-bottom: 3rem;
}
.content-1 > img {
  margin-top: 4rem;
}
.content-3 {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-3 > img {
  margin-top: 4rem;
}
.content-3 > .detail {
  margin-top: 2rem;
}
.menu {
  display: flex;
  margin: 1rem auto;
}
.menu > div {
  width: 400px;
  text-align: center;
  margin-right: 10px;
}
.menu img {
  margin: 1rem 0;
  height: 32px;
}
.menu > div > h3 {
  margin: 1rem 0;
}
.brand-connect {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;

  margin: 7rem auto;
}

.about {
  width: 100vw;
  margin-top: 7rem;
  background: #f5f6f8;
  height: 6rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about > img {
  width: 54px;
  height: 54px;
}
.social img {
  width: 1.3rem;
  height: 1.3rem;
  margin: 0 10px 0 10px;
}
.about-company {
  display: flex;
  margin-left: -7rem;
}
.about-company > .col {
  margin-right: 6rem;
}
.about-company p {
  color: hsl(210, 10%, 33%);
  font-size: 16px;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  background: #f5f6f8;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 414px) {
  header {
    background-image: url('./images/bg-header-mobile.png');
  }
  .head-detail {
    width: 300px;
  }
  h1 {
    font-size: 30px;
  }

  .btn-head {
    flex-direction: column;
    margin: 0 2rem;
  }
  .btn-head > button {
    margin: 0.5rem 0.5rem;
    font-size: 18px;
  }
  .detail {
    width: 300px;
  }

  .content-1 {
    flex-direction: column;
    margin: 0 2rem;
  }
  .content-1 > section {
    margin: 3rem 0 0 0;
    text-align: center;
    width: 300px;
  }
  .content-1 > section > h3 {
    margin-bottom: 1rem;
  }
  p {
    font-size: 16px;
  }

  .content-3 > img {
    width: 330px;
  }
  .menu {
    flex-direction: column;
  }
  .menu > div {
    width: 300px;
    margin: 2rem 0;
  }

  .brand-connect {
    flex-direction: column;
  }

  .brand-connect > img {
    margin-bottom: 5rem;
  }

  .about {
    flex-direction: column;
    height: fit-content;

    padding-bottom: 2rem;
  }

  .about > img {
    margin: 3rem auto;
  }

  .about-company {
    flex-direction: column;
    margin-left: 0;
    text-align: center;
    margin: 0 auto 1rem auto;
  }
  .about-company > .col {
    margin-right: 0;
  }
  .about-company p {
    margin-bottom: 2rem;
  }
}
